<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Movie Recommender</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <p>This is a <br>line break</p>
  <a href="https://www.lyrics.com">Go to the lyrics site!</a>
  <br>
  <form action="/recommender">
  <p>Please rate the following movies on a scale from 0.0 to 5.0:</p>
  
  {%for title in movie_dict %}
  
    <label for="rating">{{ title }}</label>
    <input type="number" name="{{ name }}"min="0" max="5" placeholder="0.0 - 5.0"><br>
  {% endfor %}
  <input type="submit">
</form>
</body>

</html>
